<template>
<div id="test" class="container"> 
   <!-- <iframe seamless="" width="100%" height="700px" frameborder="0" class="rezdy" src="http://husadzic.com/fareharbor.html"></iframe> -->
   <!-- <div class="row mt-4">
       <div class="col-md-4 text-center"
        v-for="page in pages"
        v-bind:key="page.id">
            <h4>{{page.title.rendered}}</h4>
            <div class="col-md-12 pages" v-bind:style="{ backgroundImage: 'url(' + page.better_featured_image.media_details.sizes.medium_large.source_url + ')' }">
            <router-link :to="post + page.slug" class="btn btn-primary">Read more <i class="fas fa-angle-double-right"></i></router-link>
            </div>
       </div>   
   </div> -->
</div>
</template>
<script>
import postscribe from 'postscribe'
export default {
    name: 'Arrival',
    data(){
        return {
            post: '/post/',
            //path : 'https://skavstaadventure.rezdy.com/catalog/185868/multiday-tours?iframe=true&targetFrame=_new_modal&lang=', 
            pages:[]
        }
    },
    mounted(){
        postscribe('#test', `<script src="https://fareharbor.com/embeds/script/items/skavstaadventure/?fallback=simple&flow=163834"><\/script>`)
    }
}

</script>
<style scoped>
.container {
    margin-top:20px;
}
.col-md-12 {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
}
.pages {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    align-self: flex-end;
    padding: 10px;
    width:60%;
    background-color: transparent;
    margin-bottom: 2%;
    border-color: #fc5b5a;
    transition: all 0.350s ease-out;
}
.btn:hover{
    background-color: #fc5b5a;
    transition: all 0.350s ease-in;
}
.btn-primary:focus,
.btn:focus{
    outline: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
    background-color: #fc5b5a;
    border-color: #fc5b5a;
}
</style>