<template>
<div class="container">
        <div class="row departure">
            <div class="col-md-12 text-center">
                <h3 v-lang.categories.departure.departureTour></h3>
                
            </div>
        </div>
        <div class="row departure-content"
            v-for="post in departurePosts"
            v-bind:key="post.id"
        >
            <div class="col-md-12">
                <h5 v-if="post.title.rendered">{{post.title.rendered}}</h5>
            </div>
            <div class="departure-image" v-bind:style="{ backgroundImage:'url(' + post.better_featured_image.media_details.sizes.medium_large.source_url + ')'}"></div>
            <span v-html="post.content.rendered"></span>
        </div>
        <!--
        <div class="row">
            <div class="col-md-4">
                <figure class="figure">
                    <a href="../../static/pdf/pdf-one.pdf" target="_blank"><img :src="galleryOne" alt="photo" class="figure-img img-fluid rounded"></a>
                    <figcaption v-if="language=='sv'" class="figure-caption text-center">{{ data.sv.pdfOne }}</figcaption>
                    <figcaption v-if="language=='en'" class="figure-caption text-center">{{ data.en.pdfOne }}</figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="figure">
                    <a href="../../static/pdf/pdf-two.pdf" target="_blank"><img :src="galleryTwo" alt="photo" class="figure-img img-fluid rounded"></a>
                    <figcaption v-if="language=='sv'" class="figure-caption text-center">{{ data.sv.pdfTwo }}</figcaption>
                    <figcaption v-if="language=='en'" class="figure-caption text-center">{{ data.en.pdfTwo }}</figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="figure">
                    <a href="../../static/pdf/pdf-three.pdf" target="_blank"><img :src="galleryThree" alt="photo" class="figure-img img-fluid rounded"></a>
                    <figcaption v-if="language=='sv'" class="figure-caption text-center">{{ data.sv.pdfThree }}</figcaption>
                    <figcaption v-if="language=='en'" class="figure-caption text-center">{{ data.en.pdfThree }}</figcaption>
                </figure>
            </div>
        </div>
        -->
</div>
</template>
<script>

export default {
    name: 'Departure',

    data(){
        return {

            galleryOne:'../../static/gallery/gallery-one.jpg',
            galleryTwo:'../../static/gallery/gallery-two.jpg',
            galleryThree:'../../static/gallery/gallery-three.jpg',
            data:{
                sv:{
                    pdfOne:'',
                    pdfTwo:'',
                    pdfThree:''
                },
                en:{
                    pdfOne:'',
                    pdfTwo:'',
                    pdfThree:''
                }
            },
            departurePosts:[]
        }
    },
     created: function() {
        fetch('/static/pdf/data.json').then((response) => {
        return response.json().then((json) => {
        this.data = json
      })
    }),
        this.$http.get('wp/v2/posts?categories=16').then(response =>{
            for(let post in response.data){
              this.departurePosts.push(response.data[post])                 
            }
        }, error =>{
            console.log(error);
        });
  }

}

</script>
<style scoped>
.departure {
    margin-top:25px;
    margin-bottom: 25px;
}
.departure h4{
    margin-bottom: 25px;
}
.departure-image {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom:25px;
}
.departure-content {
    margin-top: 25px;
    border-bottom: 1px solid hsla(0,0%,82%,.5);
}

</style>