<template>
    <div class="container">
        <div class="row popular-products">
            <div class="col-md-12 text-center">
                <h4>Welcome</h4>
                <p>Welcome to the start of a Swedish Adventure. Either you visit us in Sweden or travel with us abroad you will find that we know how a real outdoor experience should be. We mainly do tailor made tours in the beautiful surroundings of Stockholm Country and our guests come from all over the world to bike, hike and kayak with the help from us. Feel free to look at our site for inspiration, but if you like the real stuff, just send us an email and we will start working on your adventure.</p>
                <!--<iframe seamless="" width="100%" height="400px" frameborder="0" class="rezdy" :src="path+language"></iframe>-->
            </div>
        </div>
    </div>
</template>
<script>

export default {
    name: 'Home',
    data(){
        return {
            path : 'https://skavstaadventure.rezdy.com/carouselWidget/185868?iframe=true&lang='
        }
    }
}

</script>
<style scoped>
.container {
    border-bottom: 1px solid hsla(0,0%,82%,.5);
}
iframe {
    margin-top:40px;
}
.popular-products {
    margin-top: 40px;
}
</style>