<template>
        <nav class="navigation">
            <div class="brand-logo"><router-link to="/"><img src="../assets/logo.png" height="50" alt="Logo"></router-link></div>
            <div id="hamburger-button" class="" @click.prevent="mobileMenu">
                <div class="hamb-one"></div>
                <div class="hamb-two"></div>
                <div class="hamb-three"></div>
            </div>
            <ul class="main-navigation" @click.prevent="isMenuOpen ? mobileMenu() : null">
                <li><router-link :class="{active : $route.path == '/'}" to="/"><span v-lang.categories.navigation.home></span></router-link></li>
                <li><router-link :class="{active : $route.path == '/arrival'}" to="/arrival"><span v-lang.categories.navigation.arrival></span></router-link></li>
                <li><router-link :class="{active : $route.path == '/departure'}" to="/departure"><span v-lang.categories.navigation.departure></span></router-link></li>
                <li><router-link :class="{active : $route.path == '/information'}" to="/information"><span v-lang.categories.navigation.information></span></router-link></li>
                <li><router-link :class="{active : $route.path == '/contact'}" to="/contact"><span v-lang.categories.navigation.contact></span></router-link></li>
            </ul>
        </nav>
    <!-- <b-navbar toggleable="md" variant="info">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand to="/"><img src="../assets/logo.png" height="50" alt="Logo"></b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
            <b-nav-item to="/"><span v-lang.categories.navigation.home></span></b-nav-item>
            <b-nav-item to="/arrival"><span v-lang.categories.navigation.arrival></span></b-nav-item>
            <b-nav-item to="/departure"><span v-lang.categories.navigation.departure></span></b-nav-item>
            <b-nav-item to="/information"><span v-lang.categories.navigation.information></span></b-nav-item>
            <b-nav-item to="/contact"><span v-lang.categories.navigation.contact></span></b-nav-item> 
            <b-nav-item-dropdown v-bind:text="language" right>
                <b-dropdown-item v-lang.language="'SV'" @click="language = 'sv'"></b-dropdown-item>
                <b-dropdown-item v-lang.language="'EN'" @click="language = 'en'"></b-dropdown-item>
            </b-nav-item-dropdown
        </b-navbar-nav>
    </b-collapse>
    </b-navbar>  >-->
</template>
<script>

export default {
    name: 'Navigation',
    data(){
        return {
            isMenuOpen:false,
            active: "active",
        }
    },
    methods: {
        mobileMenu: function(){
            let hambBtn = this.$el.childNodes[2];
            let navList = this.$el.childNodes[4];
            hambBtn.classList.toggle("rotate");
            navList.classList.toggle("open");
            this.isMenuOpen = !this.isMenuOpen;
        },
        checkWidth: function(){
            console.log('cao');
        }
    }
}

</script>
<style scoped>
  
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
 color:#fc5b5a;
}
.bg-info{
  background-color: transparent !important;
  text-transform: uppercase;
}
.navigation {
    overflow: hidden;
    padding: 10px 0 10px 0;
}
.main-navigation {
   display: none;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.open {
    position: absolute;
    display: block;
    background-color: rgba(252, 91, 90, 0.92);
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 2;
    text-align: center;
    padding: 25% 0 0 0;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 0.550s;
}
.open li a {
    color:#FFF;
    display: inline-block;
    width: 100%;
    padding: 7px 0 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.7em;
}
.open li a:active {
    background-color: #FFF;
    color: #fc5b5a;
}
.main-navigation li {
    list-style: none;
}
.hamb-one, .hamb-two, .hamb-three {
    width: 28px;
    height: 2px;
    background-color: #555555;
    margin: 5px 0;
    transition: 0.4s;
    z-index: 100;
}
.brand-logo {
    float: left;
}
#hamburger-button {
    position: relative;
    float: right;
    display: inline-block;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 12px;
    z-index: 100;
}
.rotate .hamb-one {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
.rotate .hamb-two {opacity: 0;}

.rotate .hamb-three {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
@media screen and (min-width:768px){
    .main-navigation {
        display: block;
        float: right;
        margin-bottom: 0;
        padding: 15px 0 15px 0;
        line-height: 20px;
    }
    .main-navigation li {
        float: left;
    }
    #hamburger-button{
        display: none;
    }
    .navigation {
        padding: 10px 0 10px 0;
    }
    .main-navigation a {
        color: #898989;
        text-transform: uppercase;
        padding: 10px;
        font-size: 0.9em;
        text-decoration: none;
         border-top:1px solid transparent;
        border-bottom: 1px solid transparent;
    }
    .main-navigation a:hover {
        color: #fc5b5a;
        transition: all 0.550s ease;
        border-top:1px solid #fc5b5a;
        border-bottom: 1px solid #fc5b5a;
    }
    .active {
        color: #fc5b5a !important;
    }
}
</style>