<template>
<div class="container">
    <router-link class="back mt-2" to="/arrival"><i class="fas fa-long-arrow-alt-left"></i> back</router-link>
    <div class="row mt-4 products"
            v-for="post in posts"
            v-bind:key="post.id">
            <div class="col-md-4 posts-image" v-bind:style="{ backgroundImage: 'url(' + post.better_featured_image.media_details.sizes.medium_large.source_url + ')' }"></div>
            <div class="col-md-8 content">
                <h4 class="text-center mb-4">{{post.title.rendered}}</h4>
                <span v-html="post.content.rendered"></span>
            </div>
    </div>
</div>
</template>
<script>

export default {
    name: 'Post',
    data(){
        return {
            posts:[],
            categorieId:[]

        }
    },
    created: function(){
        this.$http.get('wp/v2/categories').then(response =>{
            for(let categorie in response.data){
                if (this.$route.params.categorie == response.data[categorie].slug){
                    this.categorieId.push(response.data[categorie].id); 
                    this.$http.get('wp/v2/posts?categories='+this.categorieId+'').then(response => {
                        for ( let post in response.data){
                            this.posts.push(response.data[post]);
                            }
                        }, error => {
                            console.log(error);
                    });
                }                       
            }
        }, error =>{
            console.log(error);
        });
      
    }
}

</script>
<style scoped>
.posts-image {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
}
.back {
    display: inline-block;
    color:#fc5b5a;
}
.products {
    padding-bottom: 20px;
    border-bottom: 1px solid hsla(0,0%,82%,.5);
}
</style>